
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    background-color: white;
    /* tom chique */
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/Convite\ para\ casamento\ aquarelado\ e\ elegante\ azul\ \(1\).png);
    background-size: cover;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
    color: black;
    margin-bottom: 1em;
  font-family: "Dancing Script", cursive;
    font-size: 2.5em;
    font-weight: 600;
      font-style: normal;

}

p {
    color: black;
    font-size: 1.3em;
    line-height: 1.6;
    font-family: "Playfair Display", serif;
    /* fallback serif se a fonte não carregar */

}

/* ===== Cabeçalho ===== */
.cabecalho {
    margin-top: 50vh;
    text-align: center;
    animation: fadeInDown 1s ease forwards;
}

/* ===== Logo ===== */
.nomes img {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    animation: float 3s ease-in-out infinite;
}

/* ===== Boxes de informações - tons de azul ===== */
/* ===== Boxes de informações - tons de azul ===== */
.info-box {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 1.5rem;
    color: #2B3A67;
    /* ícone azul escuro */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: #B3CDE0;
    /* azul suave elegante */
}

.info-box:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background: #89A4C3;
    /* azul mais escuro no hover */
}

/* ===== Labels ===== */
.info-label {
    margin-top: 10px;
    font-weight: 600;
    color: #2B3A67;
    /* azul petróleo escuro */
    font-size: 1rem;
}


/* ===== Modal ajustes ===== */
.modal-body img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

.contangem {
    margin-bottom: 50vh;
}

.pix {
    width: 15em;
}

.divPix {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===== Animações ===== */
@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}